<% layout('layouts/boilerplate') %>
<div class="mx-auto mt-2 ms-3 me-3">
  <h1 class="text-center mt-2"> Why Stack Journey?</h1>
<!-- 
Photo by GEORGE DESIPRIS: https://www.pexels.com/photo/big-waves-under-cloudy-sky-753619/ -->
<img class="img-fluid rounded" src="flood.jpg">
</div>

<div class="d-flex justify-conent-center mb-2 mt-2">
<div class="card ms-5 me-5 w-100 text-center mb-2 shadow">
  <div class="card-header dark" style="background-color: rgb(6, 18, 37); color: white;">
    The way I was trying to study JavaScript concepts was causing my very own mental stack overflow.
  </div>
  <div class="card-body m-2 p-2 ">
    <h5 class="card-title">Recursion and Closure, and OOP! Oh My!</h5>
    <p class="card-text">Ok, it's not quite Lions and Tigers and Bears... but, Oh My!</p> 
    <p>On my mission to make friends with JavaScript and understand the concepts more deeply, I decided I should do that with code. So I'm throwing out the paper flashcards, staging the Notion board template I found for garbage collection, and spinning up a web app.</p>
    <p>Introducing StackJourneyJS</p>
  </div>
</div>
</div>
<div class="d-flex justify-content-center mb-5">
<a href="/login" class="btn btn-dark text-center mb-5">Want to join me?</a>
</div>
<div style="width: 15px;">
</br>
</div>
