<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <!--Bootstrap https://getbootstrap.com/docs/5.3/getting-started/download/-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!--Icons from Font Awesome-->
<script src="https://kit.fontawesome.com/a56b22975c.js" crossorigin="anonymous"></script>
<link href="../css/styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@100;200&family=Foldit:wght@500&family=Poppins:wght@200;400&display=swap" rel="stylesheet">
<!-- The emoji graphics are from the open-source project Twemoji. The graphics are copyrighted 2020 Twitter, Inc, and other contributors. -->
    <!-- Emoji created by John Sorrentino and is available: https://favicon.io/emoji-favicons/shuffle-tracks-button/ -->
    <!-- License: https://creativecommons.org/licenses/by/4.0/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
<body>
  <%- include('./partials/nav.ejs') %>

<h1 class="text-center">Add a concept</h1>

<div class="d-flex justify-content-center mb-3">
  <form style="background-color:rgb(6, 18, 37); color: white;" class="p-3 rounded shadow mb-3" method="post" action="https://sheetdb.io/api/v1/78uve0w4nrmgo">
    <div id="difficulty level" class="form-text text-center mb-2" style="color: white;">Adding a new concept? Youre the GOAT!</div>
    <div class="d-flex justify-content-center">
      <img class="img-fluid text-center rounded shadow mb-3" src="goat.jpg" style="height: 200px; width: auto;">  
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">What's your name?</label>
      <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
      <div id="usernameHelp" class="form-text" style="color: white;">Kudos to you!</div>
    </div>
    <div class="mb-3">
      <p class="ms-2">Topic</p>
      <select class="form-select" aria-label="Default select example" name="category">
        <option selected>What topic would you like to cover?</option>
        <option value="oop">OOP</option>
        <option value="callbacks">Callbacks</option>
        <option value="closures">Closures</option>
        <option value="recursion">Recursion</option>
        <option value="async">Asynchronous</option>
      </select>
      </div>
      <div class="mb-3">
        <p class="ms-2">Difficulty</p>
        <select class="form-select" aria-label="Default select example" name="difficulty">
          <option selected>How difficult is the concept?</option>
          <option value="easy">Easy</option>
          <option value="moderate">Moderate</option>
          <option value="difficult">Difficult</option>
        </select>
        </div>
        <div class="mb-3">
          <label for="question" class="form-label">Question</label>
          <input type="text" name="question" class="form-control" id="question" aria-describedby="questionHelp">
          <div id="questionHelp" class="form-text" style="color: white;">Use your best technical communication.</div>
        </div>
        <div class="mb-3">
          <label for="option1" class="form-label">Option 1</label>
          <input type="text" name="option1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text" style="color: white;">Pick anything you like. Feel free to get creative!</div>
        </div>
        <div class="mb-3">
          <label for="option2" class="form-label">Option 2</label>
          <input type="text" name="option2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text" style="color: white;">Pick anything you like. Feel free to get creative!</div>
        </div>
        <div class="mb-3">
          <label for="option3" class="form-label">Option 3</label>
          <input type="text" name="option3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text" style="color: white;">Pick anything you like. Feel free to get creative!</div>
        </div>
        <div class="mb-3">
          <label for="option4" class="form-label">Option 4</label>
          <input type="text" name="option4" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text" style="color: white;">Pick anything you like. Feel free to get creative!</div>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" name="correctAnswer">
            <option selected>Correct answer?</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
          </select>
    <div class="d-flex justify-content-center mb-3 mt-3">
      <button type="submit" class="btn btn-light">Submit</button>
    </div>
   
  </form>
</div>
</div>
<div class="mb-3" style="height: 100px;">

</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>