<% layout('layouts/boilerplate') %>
<div class="mx-auto mt-2 ms-3 me-3">
  <img class="img-fluid text-center rounded " src="/hero.jpg">
</div>
<h1 class="text-center mt-2">Neural stack overflow no more</h1>
<div class="d-flex justify-conent-center mb-2">
  <div class="card m-2 w-50 text-center shadow">
    <div class="card-header" style="background-color: rgb(6, 18, 37); color: white;">
      Declare your knowledge in Global Memory
    </div>
    <div class="card-body m-2 p-2">
    <h5 class="card-title">Stack Journey hoists concepts for review</h5>
    <p class="card-text">We've heard it said, this journey is like drinking from a fire hose. Let's study smarter. With a growth mindset you'll see how far you've come, not how far you need to go. It's not easy but it's always going to be worth it. StackJourney lets you store concepts you want to review and quizes you on them.</p>
    <p>P.s you've got this!</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card m-2 w-50 text-center shadow">
  <div class="card-header" style="background-color: rgb(6, 18, 37); color: white;">
    Empathetic engineers help each other out
  </div>
  <div class="card-body m-2 p-2">
    <h5 class="card-title">Code, community, and commit concepts</h5>
    <p class="card-text">Learning to program is hard. StackJourney lets you keep track of concepts your group is struggling so you can help each other out. Get stuck and want to bring it up in your next study session? Push concepts onto your stack memory, so you and your group and run through it together. Pop concepts off of your group stack to accumulate points.</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
</div>
<div class="d-flex justify-content-center">
<a href="/login" class="btn btn-dark text-center mb-5">Start Learning</a>
</div>
<div>
</br>
</br>
</br>
</div>