
<% layout('layouts/boilerplate') %>
  

<h1 class="text-center">Register</h1>
<div class="d-flex justify-content-center">
  <!-- <form style="background-color:rgb(6, 18, 37); color: white;" class="p-3 rounded shadow" method="post" action="https://sheetdb.io/api/v1/78uve0w4nrmgo?sheet=users"> -->
    <form style="background-color:rgb(6, 18, 37); color: white;" class="p-3 rounded shadow" method="POST" action="/register">
    <div class="mb-3">
      <label for="username" class="form-label">Email</label>
      <input type="email" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="hi 👋" required>
      <div id="usernameHelp" class="form-text" style="color: white;">Pick anything you like. Feel free to get creative!</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="pick a magic word" required>
    </div>
    <div class="mb-3">
      <label for="confirmation" class="form-label">Confirm Password</label>
      <input type="password" name="confirmation" class="form-control" id="exampleInputPassword1" type="password" placeholder="pick a magic word" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Check1" required>
      <label class="form-check-label" for="exampleCheck1" required>I understand this is a hobby project</label>
    </div>
    <button type="submit" class="btn btn-light" id="register-button">Submit</button>
  </form>
  </div>
  <p class="mt-2 text-center" style="color: white;">If you already have an account <a href="/login" style="color: white;">click here to login</a></p>
  <% if ( locals.failureMessage ) { %>
    <p><%=failureMessage%></p>
  <% } %>


<!-- <script src="/static/register.js">
  console.log(document.getElementById('name').value)
</script> -->
